.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.authField {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.input {
  margin-bottom: 1rem;
  background-color: inherit;
  border: none;
  font-size: x-large;
  color: var(--yellow)
}

.buttonSubmit {
  background-color: inherit;
  border: none;
  font-size: x-large;
  text-decoration: underline;
  color: var(--green);
  width: fit-content;
}
.buttonSubmit:hover {
  background-color: var(--grey);
}
