.header {
  margin: 0;
}

.navBar {
  display: flex;
  flex-direction: row;

  background-color: var(--grey);

  border-left: .2rem solid var(--dark);

  height: 2rem;
}

.headerLink {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--grey);
  color: var(--light);
  border-right: .2rem solid var(--dark);
  
  width: 5rem;
  height: 2rem;
}
.headerLink:hover {
  color: var(--yellow);
}

.active {
  background-color: var(--dark);
}

.content {
  margin: 1rem 3rem;
}