.cv {
  margin-left: 5rem;
}

h1{
  color: #cfdbd5  ;
}
h2{
  color: #cfdbd5  ;
}
h3{
  color: #cfdbd5  ;
}

.cv-bracket {
  color: #f5cb5c;
}

.cv-quick-info {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;

  color: #588157;
}

.cv-qi-spec {
}

.cv-qi-mail {
}

.cv-quick-info a {
  color: #588157;
}
.cv-quick-info a:hover {
  text-decoration: underline;
  color: #f5cb5c;
}

.cv-qi-phone {
}

.about-me {
  margin-left: 2rem;
  width: 40rem;
}

.about-me {
  padding: 0;
  margin-left: 2rem;
}
.about-me p {
  padding: 0;
  margin-left: 2rem;
}

.education {
  margin-left: 2rem;
}

.education p {
  margin-left: 2rem;
}

.work-experience {
  margin-left: 2rem;
}
.work-experience h3 {
  margin: 0;
}
.work-experience ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.we-job {
  margin-left: 2rem;
}
.we-job span {
  margin-left: 1rem;
}
.we-job .cv-bracket {
  margin-left: 0;
}


.additional-skills {
  margin-left: 2rem;
}
.additional-skills ul {
  list-style: none;
  padding: 0;
  margin-left: 2rem;
}
