.container-cv {
  margin: 0 15rem;
}

.cv {
  margin: 0 1rem;
}

h1, h2, h3 {
  color: var(--light-grey);
}

.block :not(:first-child) {
  margin-left: 2rem;
}
.block > h1::after {
  content: " {";
  color: var(--yellow);
}
.block > h2::after {
  content: " {";
    color: var(--yellow);
}
.block > h3::after {
  content: " (";
    color: var(--yellow);
}
.block::after {
  content: "}";
  color: var(--yellow);
}
.block-l::after {
  content: "};";
  font-size: 2rem;
}
.block-m::after {
  font-size: 1.5rem;
}
.block-s::after {
  content: ")";
  font-size: 1.2rem;
}

.cv-bracket {
  color: var(--yellow);
}

.cv-quick-info {
  display: flex;
  color: var(--green);
}
.cv-quick-info::before {
  content: "// ";
  white-space: pre;
}

.cv-qi-phone {
}

.about-me {
  padding: 0;
  max-width: 40rem;
}
.about-me p {
  padding: 0;
}

.education {
  display: flex;
  flex-direction: column;
}

.education p {
}

.work-experience {
}
.work-experience h3 {
  margin: 0;
}
.work-experience ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.we-job {
  display: flex;
  flex-direction: column;
}
.we-job span {
}
.we-job .cv-bracket {
  margin-left: 0;
}

.additional-skills {
  display: flex;
  flex-direction: column;
}
.additional-skills span::after {
  content: ",";
}

/* mobile */
@media screen and (max-width: 768px) {
  .container-cv {
    margin: 0;
  }
  .block :not(:first-child) {
    margin-left: 1rem;
  }
}